/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


body {
   padding-top: 100px;
}

body p {
   font-size: 26px;
}

div.row img {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;   
}

div.feed_entry {
   padding-bottom: 20px;
}

div.feed_entry p {
   font-size: 16px;
   padding-top: 10px;
}

h6 {
   margin-top: 30px;
   padding-bottom: 20px;
}

.avatar {
   margin-top: 10px;
}

.feed_img {
   max-width: 48px;
   max-height: 48px;
}
